.leaderboard {
    display: flex;
    justify-content: center;
    gap: 2rem; 
    margin-top: 10%;
}
  
.leaderboard-item {
    background-color: #f0f0f0; 
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    flex-basis: 20%; 
    position: relative; 
}
  
.avatar {
    background-color: #ccc; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin: 0 auto; 
    position: relative; 
    top: -50px; 
    border: 5px solid #fff;
}
#A1{
    background-image: url('/res/Nar.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}
#A2{
    background-image: url('/res/Tracy.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}
#A3{
    background-image: url('/res/Marvena.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}
  

.leaderboard-item.first .avatar {
    width: 120px; 
    height: 120px;
    top: -60px; 
}
  
.leaderboard-item h2, .leaderboard-item h3 {
    margin-top: 50px; 
    color: #333; 
}
  
.leaderboard-item.first h2 {
    margin-top: 60px; 
}
  
.leaderboard-item p {
    color: #666; 
}
  