.leaderboard {
    display: flex;
    justify-content: center;
    gap: 2rem; 
    margin-top: 10%;
}
  
.leaderboard-item {
    background-color: #f0f0f0; 
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    flex-basis: 20%; 
    position: relative; 
}
  
.avatar {
    background-color: #ccc; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin: 0 auto; 
    position: relative; 
    top: -50px; 
    border: 5px solid #fff;
}
#A1{
    background-image: url('../ProfilePicPlaceholder.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}
#A2{
    background-image: url('../paigeProfilepic.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}
#A3{
    background-image: url('../Nar.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}
  

.leaderboard-item.first .avatar {
    width: 120px; 
    height: 120px;
    top: -60px; 
}
  
.leaderboard-item h2, .leaderboard-item h3 {
    margin-top: 15px; 
    color: #333; 
}
  
.leaderboard-item.first h2 {
    margin-top: 15px; 
}
.leaderboard-item .name {
    font-weight: bolder;
}
  
.leaderboard-item p {
    color: #666; 
}
#feedback-container {
    max-width: 600px;
    max-height: 400px; 
    margin: 20px auto;
    padding: 10px;
    overflow-y: auto; 
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
}
.feedback-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.feedbacker-name {
    font-size: 1.1em;
    font-weight: bold;
}
.datetime {
    font-size: 0.9em;
    color: #666;
}
.feedback-feedback p {
    line-height: 1.6;
    color: #333;
}


  