/* Welcome Section */
.welcome {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
/* was added recently for background */
body {
  background: url('Saint-Pats.jpg');
  background-size: cover;
}
  
#boxoutHome {
    flex: 1;
    /* background-color: #D6D6D6; */
    /* background-color: #FBD4BD; */
    background-color: #D0E5D7;
    padding: 20px;
    margin-right: 4%;
    height: 200px;
    width: 80%;
}

#boxoutHome p{
    margin-top: 5%;
    text-align: center;
    /* color: #2c2b30; */
    /* color:#F75664; */
    color: #29851F;
}

/*@media (max-width:768px) {
  #boxoutHome { 
    width: 90%;
  }
  #boxoutHome {
    font-size: medium;
  }
}
@media (max-width: 576px) {
  #boxoutHome {
    width: 100%;
  }
  #boxoutHome p {
    font-size: small;
  }
}*/
  
/* Feedback Form */
form {
    max-width: 250px;
    padding: 1em;
    border-radius: 1em;
    background-color: #f9f9f9;
    margin-top: 2%;
    margin-right: 3%;
}
  
  textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    /* background-color: lightslategray; */
    /* color: white; */
    background-color: #D0E5D7;
    color: #29851F;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5em;
  }
  
  input[type="submit"]:hover {
    /* background-color: #0056b3; */
    /* background-color: #D40B09; */
    background-color: #29851F;
    color: #D0E5D7;
  }
  .team-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  /* Team Info Section */
  .team-info img {
    height: 300px;
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .team-info figcaption {
    margin-top: 1%;
    text-align: center;
    font-size: small;
    /* color: #D6D6D6; */
    /* color: #F75664; */
    color: #29851F;
  }
  
  /* Additional styles */
  main h1 {
    font-family: 'Times New Roman', Times, serif;
    /* color: #D6D6D6; */
    /* color: #F75664; */
    color: #29851F;
  }
  

  .location-section{
    margin-top: 5%;
    margin-left: 13%;
  }

  .location-section h2, p{
    text-align: center;
    /* color: #D6D6D6; */
    /* color: #F75664; */
    background-color:rgba(208,229,215,0.5);
    color: #29851F;
  }

  .location-section h2{
    font-size: medium;
    margin-bottom: 0%;
  }

  .location-section p{
    font-size: smaller;
    margin-top: 0%;
    font-style: italic;
  }


 