body {
    background: url('../Saint-Pats.jpg');
    background-size: cover;
}

#leaderContainer {
    /* background-color: #D6D6D6; */
    /* background-color: #D48880; */
    background-color: rgb(126,156,57,0.5);
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 100%; /* Adjust height as necessary */
    text-align: center; /* Center text for all children */
    height: 500px;
}

#leaderContainer img {
    margin-top: 1%;
    height: 300px;
    border-radius: 50%;
}

#leaderContainer h2 {
    margin-bottom: 1%;
    color: #D0E5D7
}

#leaderContainer p {
    margin-top: 1%; 
    color: #D0E5D7
}

h1 {
    /* color: #D6D6D6; */
    color: #29851F;
    background-color: rgba(208, 229, 215, 0.5);
    flex: content;
    width: fit-content;
}
